<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec=
        "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
      <link rel="stylesheet" type="text/css" th:href="@{/styles/searchstyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/autocomplete.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta name="_csrf" th:content="${_csrf.token}"/>
      <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  

      <title>Logistics</title>
  </head>
  <body style= "background-color: rgb(245,245,245);">
     <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Logistics</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/direction}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contacts}">Contacts</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/auth}">Login|Register</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated() && (hasRole('ROLE_CONTACT_USER') || hasRole('ROLE_CONTACT_LOGISTICS_FIRM_USER'))">
                    <a  class="nav-link" id="profilePageContact" th:href="@{/profile/contact/me}" sec:authentication="name">Name of user page<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated() && (hasRole('ROLE_FIRM_USER') || hasRole('ROLE_LOGISTIC_FIRM_USER') || hasRole('ROLE_SIMPLE_FIRM_USER'))">
                    <a  class="nav-link" id="profilePageFirm" th:href="@{/profile/firm/me}" sec:authentication="name">Name of user page<span class="sr-only">(current)</span></a>
                </li>
            </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
<br>
          <br>
          <br>
<hr>



<div class="row justify-content-center" id="profile" >

<div class="col-md-6"  id="updateContact">

<div class="card">
<header class="card-header">
  <h4 class="card-title mt-2" th:utext="${profileName}"></h4>
</header>
<article class="card-body">
<form th:action="@{/profile/contact/update}" method="post" th:object="${contactDTO}" id="contactForm"  enctype="multipart/form-data">
     <div class="container">
         <div class="justify-content-center" align="center">
             <img class="d-block w-100" th:src="*{avatarPath}">
         </div>


         <div class="form-row">
    <div class="col form-group">
      <label>First name </label>
        <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" > Empty or too small</small>
        <input type="text" class="form-control" placeholder="first name" id="firstNameContact" disabled="disabled" th:field="*{firstName}">
    </div> <!-- form-group end.// -->
    <div class="col form-group">
      <label>Last name</label>
        <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" > Empty or too small</small>
        <input type="text" class="form-control" placeholder="last name" id="lastNameContact" disabled="disabled" th:field="*{lastName}">
    </div> <!-- form-group end.// -->
  </div> <!-- form-row end.// -->
  <div class="form-group">
    <label>Email address</label>
      <small class="text-danger" th:if="${#fields.hasErrors('email')}" > It's not valid email</small>
    <input type="email" class="form-control" placeholder="email address" id="emailContact" disabled="disabled" th:field="*{email}">
  </div> <!-- form-group end.// -->
  <div class="form-group">
    <label>Phone Num.</label>
      <small class="text-danger" th:if="${#fields.hasErrors('phoneNum')}" > It's not valid num</small>
    <input type="number" class="form-control" placeholder="phone number" id="phoneNumContact" disabled="disabled" th:field="*{phoneNum}">
  </div> <!-- form-group end.// -->
         <div class="form-group">
             <label>Choose another photo</label>
             <input type="file" class="form-control" placeholder="file" id="contactImage" disabled="disabled" name="file" th:field="*{image}" accept="image/*">
         </div> <!-- form-group end.// -->
  <div class="form-group" id="firms" th:if="*{firmName}!=null">
    <label>Firm</label>
     <input class="form-control" type="text" name="myCountry" placeholder="Country" id="firmNameContact" disabled="disabled" th:field="*{firmName}">
  </div>
    <div class="form-group" th:if="${#authentication.getPrincipal().getUsername()}==${profileName}">
        <button type="button" class="btn btn-primary btn-block" onclick="makeEnabled()"> Update  </button>
        <button type="submit" class="btn btn-primary btn-block" id="submitFormContact"> Save  </button>
    </div> <!-- form-group// -->      

    </div>                                 
</form>
</article> <!-- card-body end .// -->
</div> <!-- card.// -->
</div> <!-- col.//-->

<div class="col-md"  id="updateFirm" style="display: none;" >

<div class="card">
    <header class="card-header">
        <h4 class="card-title mt-2" th:utext="${profileName}"></h4>
    </header>
<article class="card-body">
<form th:action="@{/profile/firm/update}" method="post" th:object="${firmDTO}" id="firmForm"  enctype="multipart/form-data">
<div class="container">
    <div th:if="*{avatarPath}!=null" class="justify-content-center" align="center">
        <img class="d-block w-100" th:src="*{avatarPath}">
    </div>
  <div class="form-row">
    <div class="col form-group">
      <label>Firm name</label>
        <small class="text-danger" th:if="${#fields.hasErrors('firmName')}"  > Empty or too small</small>
        <input type="text" class="form-control" placeholder="firm name" id="firmNameFirm" disabled="disabled" th:field="*{firmName}">
    </div> <!-- form-group end.// -->
  </div> <!-- form-row end.// -->
  <div class="form-group">
    <label>Email address</label>
      <small class="text-danger" th:if="${#fields.hasErrors('email')}" > It's not valid email</small>
    <input type="email" class="form-control" placeholder="email address" id="emailFirm" disabled="disabled" th:field="*{email}">
  </div> <!-- form-group end.// -->
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="description" id="descriptionFirm" disabled="disabled" th:field="*{description}">
  </div> <!-- form-group end.// -->
    <div class="form-group">
    <label>Choose another photo</label>
    <input type="file" class="form-control" placeholder="file" id="firmImage" disabled="disabled" name="file" th:field="*{image}" accept="image/*">
</div> <!-- form-group end.// -->

    <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" onclick="makeFirmEnabled()"> Update  </button>
        <button type="submit" class="btn btn-primary btn-block" id="submitFormFirm"> Save  </button>
    </div> <!-- form-group// -->
    </div>  
    </form>


</article> <!-- card-body end .// -->
</div> <!-- card.// -->
</div> <!-- col.//-->
    <div class="col-md" id="contactQueue" style="display: none;" th:if="${#authentication.getPrincipal().getUsername()}==${profileName}">

        <div class="card">
            <article class="card-body">

                <div class="grid-body">
                    <div class="row">

                        <!-- BEGIN RESULT -->
                        <div class="col" id="resultColQueue">

                            <h2><i class="fa fa-file-o"></i> Contacts wait list</h2>
                            <hr>

                            <p>They wait for your decision.</p>
                            <div class="container">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkTimeQueue" sortType="modifiedTime" onclick='if(this.checked) {checkLastQueue.checked=false;checkFirstQueue.checked=false;orderBy="ModifiedTime";getContacts({orderBy:orderBy,desc:isDesc},firmNameFirm.value,"WAIT","resultColQueue","resultContQueue","pageNumsWAIT",0,5)}'>
                                    <label class="form-check-label" id="checkTimeQueueLb" for="checkTimeQueue">Sort by modified time</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkFirstQueue" sortType="firstName" onclick='if(this.checked){checkTimeQueue.checked=false;checkLastQueue.checked=false;orderBy="FirstName";getContacts({orderBy:orderBy,desc:isDesc},firmNameFirm.value,"WAIT","resultColQueue","resultContQueue","pageNumsWAIT",0,5)}'>
                                    <label class="form-check-label" id="checkFirstQueueLb" for="checkFirstQueue">Sort by first name</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkLastQueue" sortType="lastName" onclick='if(this.checked){checkTimeQueue.checked=false;checkFirstQueue.checked=false;orderBy="LastName";getContacts({orderBy:orderBy,desc:isDesc},firmNameFirm.value,"WAIT","resultColQueue","resultContQueue","pageNumsWAIT",0,5)}'>
                                    <label class="form-check-label" id="checkLastQueueLb" for="checkLastQueue">Sort by last name</label>
                                </div>
                            </div>

                            <div class="padding"></div>
                            <div class="container">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="descQueue" onclick='if(this.checked){isDesc=true;ascQueue.checked=false;checkTimeQueue.checked=false;checkFirstQueue.checked=false;checkLastQueue.checked=false;}'>
                                    <label class="form-check-label"  for="descQueue">Desc</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="ascQueue" onclick='if(this.checked){isDesc=false;descQueue.checked=false;checkTimeQueue.checked=false;checkFirstQueue.checked=false;checkLastQueue.checked=false;}'>
                                    <label class="form-check-label"  for="ascQueue">Asc</label>
                                </div>
                            </div>
                            <div class="padding"></div>
                            <div class="container" id="res">

                            </div>
                        </div>
                        <!-- END RESULT -->
                    </div>
                </div>

                <!-- END SEARCH RESULT -->

            </article> <!-- card-body end .// -->
        </div> <!-- card.// -->
    </div> <!-- col.//-->
    <div class="col-md"  id="contactList" style="display: none;">

        <div class="card">
            <article class="card-body">

                        <div class="grid-body">
                            <div class="row">

                                <!-- BEGIN RESULT -->
                                <div class="col" id="resultCol">

                                    <h2><i class="fa fa-file-o"></i>Contacts list</h2>
                                    <hr>

                                    <p>Here you can see all contacts.</p>

                                    <div class="padding"></div>
                                    <div class="container">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkTime" sortType="modifiedTime" onclick='if(this.checked) {checkLast.checked=false;checkFirst.checked=false;orderBy="ModifiedTime";getContacts({orderBy:orderBy,desc:isDesc},firmNameFirm.value,"ADDED","resultCol","resultCont","pageNumsADDED",0,5)}'>
                                            <label class="form-check-label" id="checkTimeLb" for="checkTime">Sort by modified time</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkFirst" sortType="firstName" onclick='if(this.checked){checkTime.checked=false;checkLast.checked=false;orderBy="FirstName";getContacts({orderBy:orderBy,desc:isDesc},firmNameFirm.value,"ADDED","resultCol","resultCont","pageNumsADDED",0,5)}'>
                                            <label class="form-check-label" id="checkFirstLb" for="checkFirst">Sort by first name</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkLast" sortType="lastName" onclick='if(this.checked){checkTime.checked=false;checkFirst.checked=false;orderBy="LastName";getContacts({orderBy:orderBy,desc:isDesc},firmNameFirm.value,"ADDED","resultCol","resultCont","pageNumsADDED",0,5)}'>
                                            <label class="form-check-label" id="checkLastLb" for="checkLast">Sort by last name</label>
                                        </div>
                                    </div>

                                    <div class="padding"></div>
                                    <div class="container">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="desc" onclick='if(this.checked){isDesc=true;asc.checked=false;checkTime.checked=false;checkFirst.checked=false;checkLast.checked=false;}'>
                                            <label class="form-check-label"  for="desc">Desc</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="asc" onclick='if(this.checked){isDesc=false;desc.checked=false;checkTime.checked=false;checkFirst.checked=false;checkLast.checked=false;}'>
                                            <label class="form-check-label"  for="asc">Asc</label>
                                        </div>
                                    </div>
                                    <div class="padding"></div>
                                </div>
                                <!-- END RESULT -->
                            </div>
                        </div>

                    <!-- END SEARCH RESULT -->

            </article> <!-- card-body end .// -->
        </div> <!-- card.// -->
    </div> <!-- col.//-->
    <div class="col-md-6" id="route" th:if="${#authentication.getPrincipal().getUsername()}==${profileName} and ${added}==${contactState}"  sec:authorize="(isAuthenticated() && hasRole('ROLE_CONTACT_LOGISTICS_FIRM_USER'))">
        <div class="col-md"  id="createRoute">

            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2" >Create route</h4>
                </header>
                <article class="card-body">
                    <form id="routeForm" th:object="${routeDTO}">
                        <div class="container">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>From </label>
                                    <input type="text" class="form-control" placeholder="country" id="countryFrom">
                                </div> <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>Point</label>
                                    <input type="text" class="form-control" placeholder="region" id="regionFrom">
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="city" id="cityFrom">
                            </div> <!-- form-group end.// -->
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>To </label>
                                    <input type="text" class="form-control" placeholder="country" id="countryTo">
                                </div> <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>Point</label>
                                    <input type="text" class="form-control" placeholder="region" id="regionTo">
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="city" id="cityTo">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Car name</label>
                                <input type="text" class="form-control" placeholder="car name">
                            </div> <!-- form-group end.// -->
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Start date and time</label>
                                    <input type="text" pattern="^([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))\s[0-23]{1,2}:[0-59]{1,2}$" title="Date or time have errors" placeholder="yyyy-mm-dd hh:mm" class="form-control"id="startTime">
                                </div> <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>Finish date and time</label>
                                    <input type="text" class="form-control" placeholder="country" id="finishDate">
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">

                                <label>Volume, m3</label>
                                <input type="number" class="form-control" placeholder="volume">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Capacity, tons</label>
                                <input type="number" class="form-control" placeholder="capacity">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Length</label>
                                <input type="number" class="form-control" placeholder="length" id="lengthRoute">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Cost</label>
                                <input type="number" class="form-control" placeholder="cost">
                            </div> <!-- form-group end.// -->
                            <div class="form-group" th:if="${#authentication.getPrincipal().getUsername()}==${profileName}">
                                <button  sec:authorize="!(isAuthenticated() && hasRole('ROLE_FIRM_USER'))" type="submit" class="btn btn-primary btn-block"> Create route </button>
                            </div> <!-- form-group// -->

                        </div>
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div><!-- row.//-->
</div> <!-- row.//-->
          <br>
          <div class="row justify-content-center"  id="routeList"  th:if="${#authentication.getPrincipal().getUsername()}==${profileName} and ${added}==${contactState}"  sec:authorize="(isAuthenticated() && hasRole('ROLE_CONTACT_LOGISTICS_FIRM_USER'))">
              <div class="col-md-8">
              <div class="card">
                  <article class="card-body">

                      <div class="grid-body">
                          <div class="row">

                              <!-- BEGIN RESULT -->
                              <div class="col" id="resultRouteCol">

                                  <h2><i class="fa fa-file-o"></i> Routes list</h2>
                                  <hr>

                                  <p>Here you can see all routes.</p>

                                  <div class="padding"></div>
                                  <div class="container">
                                      <div class="form-check">
                                          <input type="checkbox" class="form-check-input" id="checkTimeRoute" sortType="modifiedTime" onclick='if(this.checked) {checkLastRoute.checked=false;checkFirstRoute.checked=false;orderBy="ModifiedTime";}'>
                                          <label class="form-check-label" id="checkTimeLbRoute" for="checkTimeRoute">Sort by modified time</label>
                                      </div>
                                      <div class="form-check">
                                          <input type="checkbox" class="form-check-input" id="checkFirstRoute" sortType="firstName" onclick='if(this.checked){checkTimeRoute.checked=false;checkLastRoute.checked=false;orderBy="FirstName";}'>
                                          <label class="form-check-label" id="checkFirstLbRoute" for="checkFirstRoute">Sort by first name</label>
                                      </div>
                                      <div class="form-check">
                                          <input type="checkbox" class="form-check-input" id="checkLastRoute" sortType="lastName" onclick='if(this.checked){checkTimeRoute.checked=false;checkFirstRoute.checked=false;orderBy="LastName";}'>
                                          <label class="form-check-label" id="checkLastLbRoute" for="checkLastRoute">Sort by last name</label>
                                      </div>
                                  </div>

                                  <div class="padding"></div>
                                  <div class="container">
                                      <div class="form-check">
                                          <input type="checkbox" class="form-check-input" id="descRoute" onclick='if(this.checked){isDesc=true;ascRoute.checked=false;checkTimeRoute.checked=false;checkFirstRoute.checked=false;checkLastRoute.checked=false;}'>
                                          <label class="form-check-label"  for="descRoute">Desc</label>
                                      </div>
                                      <div class="form-check">
                                          <input type="checkbox" class="form-check-input" id="ascRoute" onclick='if(this.checked){isDesc=false;descRoute.checked=false;checkTimeRoute.checked=false;checkFirstRoute.checked=false;checkLastRoute.checked=false;}'>
                                          <label class="form-check-label"  for="ascRoute">Asc</label>
                                      </div>
                                  </div>
                                  <div class="padding"></div>
                              </div>
                              <!-- END RESULT -->
                          </div>
                      </div>

                      <!-- END SEARCH RESULT -->

                  </article> <!-- card-body end .// -->
              </div> <!-- card.// -->
              </div>
          </div> <!-- col.//-->



</div> 
<!--container end.//-->



    </main>

    <hr>
    <br>
  
    <footer style="flex:0 0 auto;">
       <article class="bg-secondary">  
        <div class="card-body text-center">
        <p class="h5 text-white">Logistics</p>
        <a class="btn btn-warning" href="#"> Back to top </a>
         </div>
       </article>
     </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZdKOB5yggOzmMtpExsaUdXR1xYXDn__c"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
     <script th:src="@{/js/searchmaker.js}"></script>
     <script th:if="${role}==1 OR ${role}==2">getContacts(null,firmNameFirm.value,"ADDED","resultCol","resultCont","pagesNumADDED",0,5);</script>
     <script th:if="${role}==1 OR ${role}==2">getContacts(null,firmNameFirm.value,"WAIT","resultColQueue","resultContQueue","pagesNumWAIT",0,5);</script>
    <script th:src="@{/js/authentication.js}"></script>

     <script th:src="@{/js/routes.js}"></script>
    <script th:src="@{/js/enter.js}"></script>
    <script th:src="@{/js/autocomplete.js}"></script>
     <script th:inline="javascript">whenRegistred([[${isRegistred}]]);</script>
     <script th:inline="javascript">
         if([[${contactDTO}]].email==null) {
         updateFirm.style.display = "";
         contactList.style.display = "";

         if(document.getElementById('contactQueue')!=null)
            contactQueue.style.display="";
         updateContact.style.display = "none";
     }
         console.log( updateContact.style.display);
     </script>
  <script th:src="@{/js/myprofile.js}"></script>
     <script th:inline="javascript">autocomplete(document.getElementById("myInput"),[[${contacts}]],'/contacts/' );</script>
  
  
  </body>
</html>